In [1]:
import mlbeats
import pandas as pd
import numpy as np
import neurokit2 as nk
import matplotlib.pyplot as plt

In [2]:
#load the large file

df = pd.read_csv("testFeatures.csv")
df=df.iloc[:, 1:]
df.head()

,filename,beat_number,Result,ECG_R_Peaks,ECG_Q_Peaks,ECG_S_Peaks,ECG_P_Peaks,ECG_P_Onsets,ECG_P_Offsets,ECG_T_Peaks,ECG_T_Onsets,ECG_T_Offsets,ECG_R_Onsets,ECG_R_Offsets
0,100,1,N,77,55.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100,2,N,370,347.0,467.0,311.0,283.0,344.0,NaN,NaN,NaN,314.0,NaN
2,100,3,N,662,641.0,697.0,606.0,578.0,638.0,NaN,NaN,NaN,612.0,NaN
3,100,4,N,946,926.0,971.0,886.0,858.0,923.0,NaN,NaN,NaN,892.0,NaN
4,100,5,N,1231,1210.0,1323.0,1169.0,1140.0,1206.0,NaN,NaN,NaN,1172.0,NaN

In [3]:
def get_labels(i):
    filename = "mitbih_database/"+str(i)+"annotations.txt"
    data = []
    with open(filename, 'r') as data_file:
        for line in data_file:
            item=line.split()
            if len(item)==7:
                item[2]=item[-1]
                item=item[0:7]
                data.append(item[2:3])
            else:
                data.append(item[2:3])
    annotations=pd.DataFrame(data[2:], columns=["Result"]) #remember the first beat is dropped
    return annotations

In [4]:
def loop_over_file_getlables(filenumber):
    df = pd.read_csv("testFeatures.csv", 'r')
    labels=pd.DataFrame()
    for i in filenumber:
        labels=pd.concat([labels,get_labels(i)])
    return labels

In [5]:
filenumber=[*range(100,125)]+[*range(200,235)]
remove=[110,120,204,206,211,216,218,224,225,226,227,229]
for i in remove:
    filenumber.remove(i)
print(filenumber)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 111, 112, 113, 114, 115, 116, 117, 118, 119, 121, 122, 123, 124, 200, 201, 202, 203, 205, 207, 208, 209, 210, 212, 213, 214, 215, 217, 219, 220, 221, 222, 223, 228, 230, 231, 232, 233, 234]

In [6]:
labels=loop_over_file_getlables(filenumber)
labels.head()

C:\Users\JOYCEM~1\AppData\Local\Temp/ipykernel_23768/1599743247.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  labels=loop_over_file_getlables(filenumber)

  Result
0      N
1      N
2      N
3      N
4      N

In [7]:
#change label
labels = labels["Result"]
pd.DataFrame(labels).to_csv('labels.csv')

In [8]:
#code for changing labels based on AAMI
labels = labels.to_numpy()
S = {"A", "a", "J", "S"}
N = {"N", "L", "R", "e", "j"}
V = {"V", "E"}
F = {"F"}
Q = {"/", "f", "Q"}
for i in range(len(labels)):
    if labels[i] in N:
        labels[i] = "N"
    elif labels[i] in S:
        labels[i] = "S"
    elif labels[i] in V:
        labels[i] = "V"
    elif labels[i] in F:
        labels[i] = "F"
    elif labels[i] in Q:
        labels[i] = "Q"
    else:
        pass