In [ ]:
pip install neurokit2

In [2]:
import numpy as np
import pandas as pd
import csv
%run TestingFunctions.ipynb
%run Functions.ipynb
%run FeaturesFunctions.ipynb

loaded functions

Read in the Training file

In [2]:
AnnotatedFileNames=[*range(100,125)]+[*range(200,235)]
remove=[110,120,204,206,211,216,218,224,225,226,227,229]
for i in remove:
    AnnotatedFileNames.remove(i)

loop through the files

In [3]:
Training=pd.read_csv("training.csv")

In [23]:
Feat=pd.read_csv('testFeatures.csv')

print(Feat.columns)
DATA= pd.DataFrame(np.nan, index=range(1),columns = Feat.columns)
DATA.head(100)

Index(['Unnamed: 0', 'beat_number', 'ECG_R_Peaks', 'ECG_Q_Peaks',
       'ECG_S_Peaks', 'ECG_P_Peaks', 'ECG_P_Onsets', 'ECG_P_Offsets',
       'ECG_T_Peaks', 'ECG_T_Onsets', 'ECG_T_Offsets', 'ECG_R_Onsets',
       'ECG_R_Offsets'],
      dtype='object')

,Unnamed: 0,beat_number,ECG_R_Peaks,ECG_Q_Peaks,ECG_S_Peaks,ECG_P_Peaks,ECG_P_Onsets,ECG_P_Offsets,ECG_T_Peaks,ECG_T_Onsets,ECG_T_Offsets,ECG_R_Onsets,ECG_R_Offsets
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#read and collect features infomation from all files
tempFeatures=pd.DataFrame()
for file in AnnotatedFileNames:
    if file == 113:
        Annotations =pd.read_csv("mitbih_database/113annotations.txt")
        DATA= pd.DataFrame(np.nan, index=range(len(Annotations)), columns=tempFeatures.columns)
        tempFeatures=pd.concat([tempFeatures,DATA])
    else:
        DATA= pd.DataFrame(np.nan, index=range(1),columns = Feat.columns)
        tempFeatures=pd.concat([tempFeatures,DATA])
        tempFeatures=pd.concat([tempFeatures,Bryson.NerokitExtraction(file)])

print(len(tempFeatures))


tempFeatures.to_csv('testFeatures.csv')

extracting File 100

C:\Users\Bryson\anaconda3\lib\site-packages\neurokit2\epochs\eventrelated_utils.py:81: NeuroKitWarning: Input does not have an `ECG_Rate` column. Will skip all rate-related features.
  warn(
C:\Users\Bryson\anaconda3\lib\site-packages\neurokit2\ecg\ecg_eventrelated.py:147: NeuroKitWarning: Input does not have an `ECG_Phase_Artrial` or `ECG_Phase_Ventricular` column. Will not indicate whether event onset concurs with cardiac phase.
  warn(
C:\Users\Bryson\anaconda3\lib\site-packages\neurokit2\ecg\ecg_eventrelated.py:170: NeuroKitWarning: Input does not have an `ECG_Quality` column. Quality of the signal is not computed.
  warn(
C:\Users\Bryson\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3419: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\Bryson\anaconda3\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

extraction complete
extracting File 101
extraction complete
4148

In [25]:
tempFeatures.head(100)

,Unnamed: 0,beat_number,ECG_R_Peaks,ECG_Q_Peaks,ECG_S_Peaks,ECG_P_Peaks,ECG_P_Onsets,ECG_P_Offsets,ECG_T_Peaks,ECG_T_Onsets,ECG_T_Offsets,ECG_R_Onsets,ECG_R_Offsets
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,77.0,55.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2,370.0,347.0,467.0,311.0,283.0,344.0,NaN,NaN,NaN,314.0,NaN
3,NaN,3,662.0,641.0,697.0,606.0,578.0,638.0,NaN,NaN,NaN,612.0,NaN
4,NaN,4,946.0,926.0,971.0,886.0,858.0,923.0,NaN,NaN,NaN,892.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,95,27536.0,27515.0,27630.0,27476.0,27449.0,27512.0,NaN,NaN,NaN,27480.0,NaN
96,NaN,96,27833.0,27811.0,27930.0,27770.0,27743.0,27807.0,NaN,NaN,NaN,27775.0,NaN
97,NaN,97,28132.0,28111.0,28224.0,28070.0,28041.0,28108.0,NaN,NaN,NaN,28077.0,NaN
98,NaN,98,28431.0,28409.0,28455.0,28369.0,28337.0,28406.0,NaN,NaN,NaN,28376.0,NaN
99,NaN,99,28727.0,28706.0,28751.0,28664.0,28634.0,28703.0,28800.0,28764.0,28819.0,28670.0,28734.0

In [6]:
print(len(Training))

112647

lengths are off by 47 because the first heart beat is taken off of the features list for neurokit because it is wack, there are 48 total files but the 113 file has all its values.

In [51]:
tempAUX=pd.DataFrame()
for file in AnnotatedFileNames:
    tempAUX=pd.concat([tempAUX,Bryson.AUX_Extract(file)])

extracting File 100
extracting File 101
extracting File 102
extracting File 103
extracting File 104
extracting File 105
extracting File 106
extracting File 107
extracting File 108
extracting File 109
extracting File 111
extracting File 112
extracting File 113
extracting File 114
extracting File 115
extracting File 116
extracting File 117
extracting File 118
extracting File 119
extracting File 121
extracting File 122
extracting File 123
extracting File 124
extracting File 200
extracting File 201
extracting File 202
extracting File 203
extracting File 205
extracting File 207
extracting File 208
extracting File 209
extracting File 210
extracting File 212
extracting File 213
extracting File 214
extracting File 215
extracting File 217
extracting File 219
extracting File 220
extracting File 221
extracting File 222
extracting File 223
extracting File 228
extracting File 230
extracting File 231
extracting File 232
extracting File 233
extracting File 234

In [52]:
Training=pd.read_csv("training.csv")
Features = pd.read_csv('testFeatures.csv')
FRAME=pd.DataFrame([1,2,3,4],columns=['1'])

In [58]:
Training=pd.read_csv("training.csv")
Training.head()
aux=np.array(tempAUX['AUX'])
print(len(aux))
print(len(Training))
Training.insert(3,'AUX',aux)
Training.head()

112647
112647

,Unnamed: 0,File,Result,AUX,Sample#,R wave height,Feature2,More Features
0,0,100,+,(N,18,990,NaN,NaN
1,1,100,N,None,77,1192,NaN,NaN
2,2,100,N,None,370,1212,NaN,NaN
3,3,100,N,None,662,1201,NaN,NaN
4,4,100,N,None,946,1186,NaN,NaN

In [63]:
Training.to_csv('training.csv')

In [ ]:
Training=pd.read_csv("training.csv")